<ion-view view-title="History">
      
  
  <ion-content>
	  <div class="button-bar">
		  <a class="button assertive historyCustom">Days</a>
		  <a class="button positive historyCustom">Weeks</a>
		  <a class="button dark historyCustom">Monthes</a>
		  <a class="button royal historyCustom">All</a>
	  </div>
   
  <!--   <ion-toggle  ng-model="settings.enableFriends"> -->
    
        
	  <div class="item item-body">
	    <img class="full-image imgChange" src="img/chart.png">
	   </div>

	    
  	   <ion-list can-swipe="listCanSwipe">
            <ion-item>
			<!-- <label class="item  item-stacked-label"> -->
				  <h3>2016-11-30 <i class="moveBack">150F<i></h3>
				  <span>12:30pm</span>
				  <ion-option-button class="button  button-assertive">Delete</ion-option-button>
				  <ion-option-button class="button  button-royal">Edit</ion-option-button>
	    		  
    		 </ion-item>
			<!-- </label> -->
			<label class="item  item-stacked-label">
			    <h3>2016-11-30 <i>150F<i></h3>
			    <span>12:30pm</span>
			</label>
			 <label class="item  item-stacked-label">
			    <h3>2016-11-30 <i>150F<i></h3>
			    <span>12:30pm</span>
			 </label>
  
        </ion-list>
        
  </ion-content>
</ion-view>
