<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


  <!-- Measurements Tab -->
  <ion-tab title="Measurements" icon-off="ion-ios-speedometer-outline" icon-on="ion-ios-speedometer royal" href="#/tab/measurements">
    <ion-nav-view name="tab-measurements"></ion-nav-view>
  </ion-tab>

  <!-- Reminder Tab -->

  <ion-tab title="Reminder" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose royal" href="#/tab/reminder">
    <ion-nav-view name="tab-reminder"></ion-nav-view>
  </ion-tab>

   
    <!--Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear royal" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
