/* Empty. Add your own CSS if you like */
/*measurements page*/

.myAvatar{
	height:40px;
	width:40px;
	opacity:0.5;
	
    margin-top:5px!important;
}
.avaText{
	font-size:0.9em;
}

/* measurement-detail page*/

.syst{
	
	width:80px;
	margin-right:10px;
}

.dias{

	width:80px;

}
.radiusChange{
	border-radius: 5px;

}
.removeWrapper{
	background-color:transparent;

    
}
.special{
	margin-top:20px;
}
.inputNote{
	width:100%;	

}
.increaseHeight{
	height:80px;

}
.unitName{
	
	margin-left:30px;
}

/*history page*/
.historyCustom{
	font-size:0.9em;
	border-radius:0px!important;
	
}
.imgChange{
	width:250px;
	height:280px;
}
.moveBack{
	
}
.mini{
	font-size:0.8em;
	font-style:oblique;
}
.changeButtonBorder{
	border-color: #886aea;
}